$color-primary: red;
$light-color-primary: lighten($color-primary, 20%);
$darken-color-primary: darken($light-color-primary, 35%);
$color-secondary: red;
$light-color-secondary: lighten($color-secondary, 20%);
$darken-color-secondary: darken($color-secondary, 35%);